<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>女人_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{203,1},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{405,1},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{607,1},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{809,1},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{1011,1},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{1213,1},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{1415,1},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{1617,1},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{1819,1},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{1,403},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{203,403},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{405,403},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{607,403},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{809,403},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{1011,403},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{1213,403},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{1415,403},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{1617,403},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{1819,403},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{1,805},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{203,805},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{405,805},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{607,805},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{809,805},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{1011,805},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{1213,805},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{1415,805},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{1617,805},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{1819,805},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{1,1207},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{203,1207},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{405,1207},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{607,1207},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{809,1207},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{1011,1207},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{1213,1207},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{1415,1207},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{1617,1207},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{1819,1207},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{1,1609},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{203,1609},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{405,1609},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{607,1609},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{809,1609},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{1011,1609},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{1213,1609},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{1415,1609},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{1617,1609},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>女人_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>people9.png</string>
            <key>size</key>
            <string>{2020,2010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c779efae9a40d90bd8b76fb16fbef82:ffb87bbc71c7db79ca06b5b7f5106168:e47f288e0e0b6b05edff883c6d96e791$</string>
            <key>textureFileName</key>
            <string>people9.png</string>
        </dict>
    </dict>
</plist>
