<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>长灯笼C_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-11}</string>
                <key>spriteSize</key>
                <string>{48,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{651,1},{48,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-11}</string>
                <key>spriteSize</key>
                <string>{48,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{601,1},{48,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-11}</string>
                <key>spriteSize</key>
                <string>{48,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{501,1},{48,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-11}</string>
                <key>spriteSize</key>
                <string>{48,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{551,1},{48,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-11}</string>
                <key>spriteSize</key>
                <string>{48,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{451,1},{48,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{521,291},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{573,291},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{157,291},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{677,146},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-11}</string>
                <key>spriteSize</key>
                <string>{48,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{101,1},{48,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{261,291},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{209,291},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{105,291},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{53,291},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{729,146},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{1,291},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{781,146},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{313,291},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{365,291},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{677,291},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{781,291},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{729,291},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{625,291},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-11}</string>
                <key>spriteSize</key>
                <string>{48,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{1,1},{48,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{417,291},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{48,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{51,1},{48,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{48,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{151,1},{48,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{469,291},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{48,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{201,1},{48,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{625,146},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{53,146},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{1,146},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{805,1},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{753,1},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{701,1},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{105,146},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{157,146},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{469,146},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{573,146},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{521,146},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{417,146},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{365,146},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{48,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{301,1},{48,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{261,146},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{209,146},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{313,146},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{48,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{351,1},{48,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{48,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{251,1},{48,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{48,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{401,1},{48,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼C_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-11}</string>
                <key>spriteSize</key>
                <string>{48,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{651,1},{48,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>long_lantern3.png</string>
            <key>size</key>
            <string>{856,435}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c87c2c64d41f296572c7691fd9f1ba2:4fc5d0f43ec6226ad96f01571ea2cdb8:cad6291926540e6ee62d37b80222ec11$</string>
            <key>textureFileName</key>
            <string>long_lantern3.png</string>
        </dict>
    </dict>
</plist>
