<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>长灯笼D_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{159,1016},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{53,1161},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{157,1161},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{105,1161},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{1,1161},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-11}</string>
                <key>spriteSize</key>
                <string>{52,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{105,1016},{52,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{53,871},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{157,871},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{53,1016},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{1,1016},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-11}</string>
                <key>spriteSize</key>
                <string>{52,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{1,1306},{52,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{107,1306},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{161,1451},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{55,1596},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-11}</string>
                <key>spriteSize</key>
                <string>{52,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{1,1741},{52,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-11}</string>
                <key>spriteSize</key>
                <string>{52,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{107,1596},{52,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-11}</string>
                <key>spriteSize</key>
                <string>{52,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{161,1596},{52,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-11}</string>
                <key>spriteSize</key>
                <string>{52,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{1,1596},{52,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-11}</string>
                <key>spriteSize</key>
                <string>{52,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{107,1451},{52,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{55,1306},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-11}</string>
                <key>spriteSize</key>
                <string>{52,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{159,1306},{52,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{55,1451},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-11}</string>
                <key>spriteSize</key>
                <string>{52,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{1,1451},{52,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{105,871},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{1,871},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{109,146},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{1,291},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{52,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{105,291},{52,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{53,291},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{161,146},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{52,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{55,146},{52,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{52,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{1,1},{52,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{52,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{107,1},{52,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{52,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{1,146},{52,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{52,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{161,1},{52,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{52,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{159,291},{52,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{55,436},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{52,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{107,581},{52,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{52,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{1,726},{52,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{52,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{161,726},{52,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{52,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{55,726},{52,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{109,726},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{161,581},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{52,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{53,581},{52,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{52,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{1,436},{52,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{107,436},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{1,581},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{159,436},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{55,1},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长灯笼D_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{50,143}</string>
                <key>spriteSourceSize</key>
                <string>{198,193}</string>
                <key>textureRect</key>
                <string>{{159,1016},{50,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>long_lantern4.png</string>
            <key>size</key>
            <string>{214,1885}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a720ef370534dcc33f6244fd3a83bc7:a34c79df4a91ff436c7ed751471ebb47:6558bf541e224d5317443752ecc737df$</string>
            <key>textureFileName</key>
            <string>long_lantern4.png</string>
        </dict>
    </dict>
</plist>
