<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>宝箱打开_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,262}</string>
                <key>spriteSourceSize</key>
                <string>{328,262}</string>
                <key>textureRect</key>
                <string>{{0,0},{328,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>宝箱打开_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,262}</string>
                <key>spriteSourceSize</key>
                <string>{328,262}</string>
                <key>textureRect</key>
                <string>{{328,0},{328,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>宝箱打开_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,262}</string>
                <key>spriteSourceSize</key>
                <string>{328,262}</string>
                <key>textureRect</key>
                <string>{{656,0},{328,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>宝箱打开_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,262}</string>
                <key>spriteSourceSize</key>
                <string>{328,262}</string>
                <key>textureRect</key>
                <string>{{984,0},{328,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>宝箱打开_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,262}</string>
                <key>spriteSourceSize</key>
                <string>{328,262}</string>
                <key>textureRect</key>
                <string>{{1312,0},{328,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>宝箱打开_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,262}</string>
                <key>spriteSourceSize</key>
                <string>{328,262}</string>
                <key>textureRect</key>
                <string>{{0,262},{328,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>宝箱打开_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,262}</string>
                <key>spriteSourceSize</key>
                <string>{328,262}</string>
                <key>textureRect</key>
                <string>{{328,262},{328,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>宝箱打开_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,262}</string>
                <key>spriteSourceSize</key>
                <string>{328,262}</string>
                <key>textureRect</key>
                <string>{{656,262},{328,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>宝箱打开_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,262}</string>
                <key>spriteSourceSize</key>
                <string>{328,262}</string>
                <key>textureRect</key>
                <string>{{984,262},{328,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>宝箱打开_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,262}</string>
                <key>spriteSourceSize</key>
                <string>{328,262}</string>
                <key>textureRect</key>
                <string>{{1312,262},{328,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>box_open.png</string>
            <key>size</key>
            <string>{1640,524}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ac9f32aa66537a7e56057d82235fa53:35034dad515d6a637c9e6f3cbeff5002:afca60795de8b58d819b8cf75bf317d2$</string>
            <key>textureFileName</key>
            <string>box_open.png</string>
        </dict>
    </dict>
</plist>
