<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>前景云_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,500}</string>
                <key>spriteSourceSize</key>
                <string>{750,500}</string>
                <key>textureRect</key>
                <string>{{0,0},{750,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>前景云_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,500}</string>
                <key>spriteSourceSize</key>
                <string>{750,500}</string>
                <key>textureRect</key>
                <string>{{750,0},{750,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>前景云_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,500}</string>
                <key>spriteSourceSize</key>
                <string>{750,500}</string>
                <key>textureRect</key>
                <string>{{1500,0},{750,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>前景云_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,500}</string>
                <key>spriteSourceSize</key>
                <string>{750,500}</string>
                <key>textureRect</key>
                <string>{{2250,0},{750,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>前景云_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,500}</string>
                <key>spriteSourceSize</key>
                <string>{750,500}</string>
                <key>textureRect</key>
                <string>{{3000,0},{750,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>前景云_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,500}</string>
                <key>spriteSourceSize</key>
                <string>{750,500}</string>
                <key>textureRect</key>
                <string>{{0,500},{750,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>前景云_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,500}</string>
                <key>spriteSourceSize</key>
                <string>{750,500}</string>
                <key>textureRect</key>
                <string>{{750,500},{750,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>前景云_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,500}</string>
                <key>spriteSourceSize</key>
                <string>{750,500}</string>
                <key>textureRect</key>
                <string>{{1500,500},{750,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>前景云_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,500}</string>
                <key>spriteSourceSize</key>
                <string>{750,500}</string>
                <key>textureRect</key>
                <string>{{2250,500},{750,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>前景云_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,500}</string>
                <key>spriteSourceSize</key>
                <string>{750,500}</string>
                <key>textureRect</key>
                <string>{{3000,500},{750,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>前景云_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,500}</string>
                <key>spriteSourceSize</key>
                <string>{750,500}</string>
                <key>textureRect</key>
                <string>{{0,1000},{750,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>前景云_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,500}</string>
                <key>spriteSourceSize</key>
                <string>{750,500}</string>
                <key>textureRect</key>
                <string>{{750,1000},{750,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>前景云_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,500}</string>
                <key>spriteSourceSize</key>
                <string>{750,500}</string>
                <key>textureRect</key>
                <string>{{1500,1000},{750,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>前景云_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,500}</string>
                <key>spriteSourceSize</key>
                <string>{750,500}</string>
                <key>textureRect</key>
                <string>{{2250,1000},{750,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>前景云_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,500}</string>
                <key>spriteSourceSize</key>
                <string>{750,500}</string>
                <key>textureRect</key>
                <string>{{3000,1000},{750,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>前景云_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,500}</string>
                <key>spriteSourceSize</key>
                <string>{750,500}</string>
                <key>textureRect</key>
                <string>{{0,1500},{750,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>前景云_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,500}</string>
                <key>spriteSourceSize</key>
                <string>{750,500}</string>
                <key>textureRect</key>
                <string>{{750,1500},{750,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>前景云_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,500}</string>
                <key>spriteSourceSize</key>
                <string>{750,500}</string>
                <key>textureRect</key>
                <string>{{1500,1500},{750,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>前景云_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,500}</string>
                <key>spriteSourceSize</key>
                <string>{750,500}</string>
                <key>textureRect</key>
                <string>{{2250,1500},{750,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>前景云_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,500}</string>
                <key>spriteSourceSize</key>
                <string>{750,500}</string>
                <key>textureRect</key>
                <string>{{3000,1500},{750,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>前景云_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,500}</string>
                <key>spriteSourceSize</key>
                <string>{750,500}</string>
                <key>textureRect</key>
                <string>{{0,2000},{750,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>前景云_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,500}</string>
                <key>spriteSourceSize</key>
                <string>{750,500}</string>
                <key>textureRect</key>
                <string>{{750,2000},{750,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>前景云_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,500}</string>
                <key>spriteSourceSize</key>
                <string>{750,500}</string>
                <key>textureRect</key>
                <string>{{1500,2000},{750,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>前景云_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,500}</string>
                <key>spriteSourceSize</key>
                <string>{750,500}</string>
                <key>textureRect</key>
                <string>{{2250,2000},{750,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>前景云_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,500}</string>
                <key>spriteSourceSize</key>
                <string>{750,500}</string>
                <key>textureRect</key>
                <string>{{3000,2000},{750,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>前景云_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,500}</string>
                <key>spriteSourceSize</key>
                <string>{750,500}</string>
                <key>textureRect</key>
                <string>{{0,2500},{750,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>前景云_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,500}</string>
                <key>spriteSourceSize</key>
                <string>{750,500}</string>
                <key>textureRect</key>
                <string>{{750,2500},{750,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>前景云_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,500}</string>
                <key>spriteSourceSize</key>
                <string>{750,500}</string>
                <key>textureRect</key>
                <string>{{1500,2500},{750,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>前景云_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,500}</string>
                <key>spriteSourceSize</key>
                <string>{750,500}</string>
                <key>textureRect</key>
                <string>{{2250,2500},{750,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>前景云_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,500}</string>
                <key>spriteSourceSize</key>
                <string>{750,500}</string>
                <key>textureRect</key>
                <string>{{3000,2500},{750,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cloud.png</string>
            <key>size</key>
            <string>{3750,3000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbff05f50834fbe98a0e6b036673fbb1:da378f3d05623aae40855c13fd43f6ea:3047d7f37c9f3f9d0775d24fd6dfbdfe$</string>
            <key>textureFileName</key>
            <string>cloud.png</string>
        </dict>
    </dict>
</plist>
