<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>拖行李_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,300}</string>
                <key>spriteSourceSize</key>
                <string>{350,300}</string>
                <key>textureRect</key>
                <string>{{0,0},{350,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>拖行李_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,300}</string>
                <key>spriteSourceSize</key>
                <string>{350,300}</string>
                <key>textureRect</key>
                <string>{{350,0},{350,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>拖行李_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,300}</string>
                <key>spriteSourceSize</key>
                <string>{350,300}</string>
                <key>textureRect</key>
                <string>{{700,0},{350,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>拖行李_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,300}</string>
                <key>spriteSourceSize</key>
                <string>{350,300}</string>
                <key>textureRect</key>
                <string>{{1050,0},{350,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>拖行李_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,300}</string>
                <key>spriteSourceSize</key>
                <string>{350,300}</string>
                <key>textureRect</key>
                <string>{{1400,0},{350,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>拖行李_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,300}</string>
                <key>spriteSourceSize</key>
                <string>{350,300}</string>
                <key>textureRect</key>
                <string>{{0,300},{350,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>拖行李_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,300}</string>
                <key>spriteSourceSize</key>
                <string>{350,300}</string>
                <key>textureRect</key>
                <string>{{350,300},{350,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>拖行李_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,300}</string>
                <key>spriteSourceSize</key>
                <string>{350,300}</string>
                <key>textureRect</key>
                <string>{{700,300},{350,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>拖行李_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,300}</string>
                <key>spriteSourceSize</key>
                <string>{350,300}</string>
                <key>textureRect</key>
                <string>{{1050,300},{350,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>拖行李_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,300}</string>
                <key>spriteSourceSize</key>
                <string>{350,300}</string>
                <key>textureRect</key>
                <string>{{1400,300},{350,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>拖行李_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,300}</string>
                <key>spriteSourceSize</key>
                <string>{350,300}</string>
                <key>textureRect</key>
                <string>{{0,600},{350,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>拖行李_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,300}</string>
                <key>spriteSourceSize</key>
                <string>{350,300}</string>
                <key>textureRect</key>
                <string>{{350,600},{350,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>拖行李_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,300}</string>
                <key>spriteSourceSize</key>
                <string>{350,300}</string>
                <key>textureRect</key>
                <string>{{700,600},{350,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>拖行李_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,300}</string>
                <key>spriteSourceSize</key>
                <string>{350,300}</string>
                <key>textureRect</key>
                <string>{{1050,600},{350,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>拖行李_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,300}</string>
                <key>spriteSourceSize</key>
                <string>{350,300}</string>
                <key>textureRect</key>
                <string>{{1400,600},{350,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>拖行李_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,300}</string>
                <key>spriteSourceSize</key>
                <string>{350,300}</string>
                <key>textureRect</key>
                <string>{{0,900},{350,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>拖行李_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,300}</string>
                <key>spriteSourceSize</key>
                <string>{350,300}</string>
                <key>textureRect</key>
                <string>{{350,900},{350,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>拖行李_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,300}</string>
                <key>spriteSourceSize</key>
                <string>{350,300}</string>
                <key>textureRect</key>
                <string>{{700,900},{350,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>拖行李_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,300}</string>
                <key>spriteSourceSize</key>
                <string>{350,300}</string>
                <key>textureRect</key>
                <string>{{1050,900},{350,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>拖行李_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,300}</string>
                <key>spriteSourceSize</key>
                <string>{350,300}</string>
                <key>textureRect</key>
                <string>{{1400,900},{350,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>拖行李_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,300}</string>
                <key>spriteSourceSize</key>
                <string>{350,300}</string>
                <key>textureRect</key>
                <string>{{0,1200},{350,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>拖行李_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,300}</string>
                <key>spriteSourceSize</key>
                <string>{350,300}</string>
                <key>textureRect</key>
                <string>{{350,1200},{350,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>拖行李_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,300}</string>
                <key>spriteSourceSize</key>
                <string>{350,300}</string>
                <key>textureRect</key>
                <string>{{700,1200},{350,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>拖行李_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,300}</string>
                <key>spriteSourceSize</key>
                <string>{350,300}</string>
                <key>textureRect</key>
                <string>{{1050,1200},{350,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>拖行李_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,300}</string>
                <key>spriteSourceSize</key>
                <string>{350,300}</string>
                <key>textureRect</key>
                <string>{{1400,1200},{350,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>people1.png</string>
            <key>size</key>
            <string>{1750,1500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb1a271aa59eba7107e8c49b6dd691dd:5bd832666595b33a190c7ebb30479071:9863c4d886b9b3148bc27dc30231ac08$</string>
            <key>textureFileName</key>
            <string>people1.png</string>
        </dict>
    </dict>
</plist>
