<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>宝箱发光_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,262}</string>
                <key>spriteSourceSize</key>
                <string>{328,262}</string>
                <key>textureRect</key>
                <string>{{0,0},{328,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>宝箱发光_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,262}</string>
                <key>spriteSourceSize</key>
                <string>{328,262}</string>
                <key>textureRect</key>
                <string>{{328,0},{328,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>宝箱发光_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,262}</string>
                <key>spriteSourceSize</key>
                <string>{328,262}</string>
                <key>textureRect</key>
                <string>{{656,0},{328,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>宝箱发光_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,262}</string>
                <key>spriteSourceSize</key>
                <string>{328,262}</string>
                <key>textureRect</key>
                <string>{{0,262},{328,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>宝箱发光_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,262}</string>
                <key>spriteSourceSize</key>
                <string>{328,262}</string>
                <key>textureRect</key>
                <string>{{328,262},{328,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>宝箱发光_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,262}</string>
                <key>spriteSourceSize</key>
                <string>{328,262}</string>
                <key>textureRect</key>
                <string>{{656,262},{328,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>宝箱发光_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,262}</string>
                <key>spriteSourceSize</key>
                <string>{328,262}</string>
                <key>textureRect</key>
                <string>{{0,524},{328,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>宝箱发光_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,262}</string>
                <key>spriteSourceSize</key>
                <string>{328,262}</string>
                <key>textureRect</key>
                <string>{{328,524},{328,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>宝箱发光_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,262}</string>
                <key>spriteSourceSize</key>
                <string>{328,262}</string>
                <key>textureRect</key>
                <string>{{656,524},{328,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>宝箱发光_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,262}</string>
                <key>spriteSourceSize</key>
                <string>{328,262}</string>
                <key>textureRect</key>
                <string>{{0,786},{328,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>宝箱发光_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,262}</string>
                <key>spriteSourceSize</key>
                <string>{328,262}</string>
                <key>textureRect</key>
                <string>{{328,786},{328,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>宝箱发光_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,262}</string>
                <key>spriteSourceSize</key>
                <string>{328,262}</string>
                <key>textureRect</key>
                <string>{{656,786},{328,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>宝箱发光_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,262}</string>
                <key>spriteSourceSize</key>
                <string>{328,262}</string>
                <key>textureRect</key>
                <string>{{0,1048},{328,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>宝箱发光_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,262}</string>
                <key>spriteSourceSize</key>
                <string>{328,262}</string>
                <key>textureRect</key>
                <string>{{328,1048},{328,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>宝箱发光_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,262}</string>
                <key>spriteSourceSize</key>
                <string>{328,262}</string>
                <key>textureRect</key>
                <string>{{656,1048},{328,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>宝箱发光_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,262}</string>
                <key>spriteSourceSize</key>
                <string>{328,262}</string>
                <key>textureRect</key>
                <string>{{0,1310},{328,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>宝箱发光_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,262}</string>
                <key>spriteSourceSize</key>
                <string>{328,262}</string>
                <key>textureRect</key>
                <string>{{328,1310},{328,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>宝箱发光_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,262}</string>
                <key>spriteSourceSize</key>
                <string>{328,262}</string>
                <key>textureRect</key>
                <string>{{656,1310},{328,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>宝箱发光_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,262}</string>
                <key>spriteSourceSize</key>
                <string>{328,262}</string>
                <key>textureRect</key>
                <string>{{0,1572},{328,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>宝箱发光_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,262}</string>
                <key>spriteSourceSize</key>
                <string>{328,262}</string>
                <key>textureRect</key>
                <string>{{328,1572},{328,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>box.png</string>
            <key>size</key>
            <string>{984,1834}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f61b253aabc49a49e8941e0a9c9b5a26:7c8a9651b422183d960625dd6323a7f8:e7d5df088989fd73d4e1ab6d0183848c$</string>
            <key>textureFileName</key>
            <string>box.png</string>
        </dict>
    </dict>
</plist>
