<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>农淘家具城_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{0,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{60,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{120,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{180,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{240,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{300,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{360,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{420,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{480,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{540,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{600,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{660,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{720,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{780,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{840,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{900,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{960,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{1020,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{1080,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{1140,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{1200,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{1260,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{1320,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{1380,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{1440,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{1500,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{1560,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{1620,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{1680,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{1740,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{1800,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{1860,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{1920,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{1980,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{2040,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{2100,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{2160,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{2220,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{2280,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{2340,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{2400,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{2460,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{2520,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{2580,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{2640,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{2700,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{2760,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{2820,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{2880,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>农淘家具城_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,220}</string>
                <key>spriteSourceSize</key>
                <string>{60,220}</string>
                <key>textureRect</key>
                <string>{{2940,0},{60,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>font_title7.png</string>
            <key>size</key>
            <string>{3000,220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da0ad9222332fba9247cbfd92cdec88c:4eb4ab452fcd6c8d8564714be76e8a7a:30b47bbf830f7f69efc4a1a36486ce5b$</string>
            <key>textureFileName</key>
            <string>font_title7.png</string>
        </dict>
    </dict>
</plist>
