<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-2_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,91}</string>
                <key>spriteSourceSize</key>
                <string>{64,91}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-2_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,91}</string>
                <key>spriteSourceSize</key>
                <string>{64,91}</string>
                <key>textureRect</key>
                <string>{{0,91},{64,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-2_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,91}</string>
                <key>spriteSourceSize</key>
                <string>{64,91}</string>
                <key>textureRect</key>
                <string>{{0,182},{64,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-2_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,91}</string>
                <key>spriteSourceSize</key>
                <string>{64,91}</string>
                <key>textureRect</key>
                <string>{{0,273},{64,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-2_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,91}</string>
                <key>spriteSourceSize</key>
                <string>{64,91}</string>
                <key>textureRect</key>
                <string>{{0,364},{64,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-2_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,91}</string>
                <key>spriteSourceSize</key>
                <string>{64,91}</string>
                <key>textureRect</key>
                <string>{{0,455},{64,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-2_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,91}</string>
                <key>spriteSourceSize</key>
                <string>{64,91}</string>
                <key>textureRect</key>
                <string>{{0,546},{64,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-2_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,91}</string>
                <key>spriteSourceSize</key>
                <string>{64,91}</string>
                <key>textureRect</key>
                <string>{{0,637},{64,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-2_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,91}</string>
                <key>spriteSourceSize</key>
                <string>{64,91}</string>
                <key>textureRect</key>
                <string>{{0,728},{64,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-2_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,91}</string>
                <key>spriteSourceSize</key>
                <string>{64,91}</string>
                <key>textureRect</key>
                <string>{{0,819},{64,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-2_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,91}</string>
                <key>spriteSourceSize</key>
                <string>{64,91}</string>
                <key>textureRect</key>
                <string>{{0,910},{64,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-2_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,91}</string>
                <key>spriteSourceSize</key>
                <string>{64,91}</string>
                <key>textureRect</key>
                <string>{{0,1001},{64,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-2_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,91}</string>
                <key>spriteSourceSize</key>
                <string>{64,91}</string>
                <key>textureRect</key>
                <string>{{0,1092},{64,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-2_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,91}</string>
                <key>spriteSourceSize</key>
                <string>{64,91}</string>
                <key>textureRect</key>
                <string>{{0,1183},{64,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-2_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,91}</string>
                <key>spriteSourceSize</key>
                <string>{64,91}</string>
                <key>textureRect</key>
                <string>{{0,1274},{64,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-2_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,91}</string>
                <key>spriteSourceSize</key>
                <string>{64,91}</string>
                <key>textureRect</key>
                <string>{{0,1365},{64,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-2_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,91}</string>
                <key>spriteSourceSize</key>
                <string>{64,91}</string>
                <key>textureRect</key>
                <string>{{0,1456},{64,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-2_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,91}</string>
                <key>spriteSourceSize</key>
                <string>{64,91}</string>
                <key>textureRect</key>
                <string>{{0,1547},{64,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-2_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,91}</string>
                <key>spriteSourceSize</key>
                <string>{64,91}</string>
                <key>textureRect</key>
                <string>{{0,1638},{64,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-2_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,91}</string>
                <key>spriteSourceSize</key>
                <string>{64,91}</string>
                <key>textureRect</key>
                <string>{{0,1729},{64,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-2_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,91}</string>
                <key>spriteSourceSize</key>
                <string>{64,91}</string>
                <key>textureRect</key>
                <string>{{0,1820},{64,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-2_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,91}</string>
                <key>spriteSourceSize</key>
                <string>{64,91}</string>
                <key>textureRect</key>
                <string>{{0,1911},{64,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-2_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,91}</string>
                <key>spriteSourceSize</key>
                <string>{64,91}</string>
                <key>textureRect</key>
                <string>{{0,2002},{64,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-2_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,91}</string>
                <key>spriteSourceSize</key>
                <string>{64,91}</string>
                <key>textureRect</key>
                <string>{{0,2093},{64,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-2_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,91}</string>
                <key>spriteSourceSize</key>
                <string>{64,91}</string>
                <key>textureRect</key>
                <string>{{0,2184},{64,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2.png</string>
            <key>size</key>
            <string>{64,2275}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22ab81bcfa03d15735000fe241c0575e:fd20b8a6b8f92e9c3bdbb7a2f61874cb:623324867643c00c9de7ce2df641103a$</string>
            <key>textureFileName</key>
            <string>2.png</string>
        </dict>
    </dict>
</plist>
